---
import { ClientRouter } from "astro:transitions";
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const base = import.meta.env.BASE_URL;

const { title, description, image = `${base}cover.jpeg` } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Favicon -->
<meta name="application-name" content="gildofj.dev uses" />
<meta name="theme-color" content="#a855f7" />
<meta name="msapplication-TileColor" content="#a855f7" />
<meta name="msapplication-TileImage" content={`${base}ms-icon-144x144.png`} />
<meta
  name="msapplication-square70x70logo"
  content={`${base}mstile-70x70.png`}
/>
<meta
  name="msapplication-square150x150logo"
  content={`${base}mstile-150x150.png`}
/>
<meta
  name="msapplication-wide310x150logo"
  content={`${base}mstile-310x150.png`}
/>
<meta
  name="msapplication-square310x310logo"
  content={`${base}mstile-310x310.png`}
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="57x57"
  href={`${base}apple-touch-icon-57x57.png`}
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="60x60"
  href={`${base}apple-touch-icon-60x60.png`}
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="72x72"
  href={`${base}apple-touch-icon-72x72.png`}
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="76x76"
  href={`${base}apple-touch-icon-76x76.png`}
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="114x114"
  href={`${base}apple-touch-icon-114x114.png`}
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="120x120"
  href={`${base}apple-touch-icon-120x120.png`}
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="144x144"
  href={`${base}apple-touch-icon-144x144.png`}
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="152x152"
  href={`${base}apple-touch-icon-152x152.png`}
/>
<link
  rel="icon"
  type="image/png"
  href={`${base}favicon-196x196.png`}
  sizes="196x196"
/>
<link rel="manifest" href="/site.webmanifest" />
<link
  rel="icon"
  type="image/png"
  href={`${base}favicon-96x96.png`}
  sizes="96x96"
/>
<link
  rel="icon"
  type="image/png"
  href={`${base}favicon-32x32.png`}
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href={`${base}favicon-16x16.png`}
  sizes="16x16"
/>
<link
  rel="icon"
  type="image/png"
  href={`${base}favicon-128.png`}
  sizes="128x128"
/>

<!-- Permission-Policy -->
<meta
  http-equiv="Permissions-Policy"
  content="interest-cohort=(), user-id=()"
/>

<!-- Google -->
<meta
  name="google-site-verification"
  content="AzjfR1JEdo5QFJAHE9ggfNeBrRAASpeT2drc49Rbgt8"
/>

<ClientRouter />

<!-- Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=G-QZ6F1ZHLVK"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-QZ6F1ZHLVK");
</script>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
</script>
