---
import DropdownMenuLocale from "./DropdownMenuLocale.tsx";
import DropdownMenuNav from "./DropdownMenuNav.tsx";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggleButton from "./ThemeToggleButton.tsx";
import {
  PORTFOLIO_URL,
  X_URL,
  GITHUB_URL,
  REPO_URL,
  INSTAGRAM_URL,
  LINKEDIN_URL,
} from "../consts";
import {
  Code,
  GithubLogo,
  XLogo,
  InstagramLogo,
  LinkedinLogo,
} from "@phosphor-icons/react";
import { getUrlLocale, useTranslate } from "../i18n/utils";

const locale = getUrlLocale(Astro.url);
const t = useTranslate(locale);
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md font-fira-code top-0">
  <nav class="flex items-center justify-between relative">
    <h2
      class="font-semibold tracking-tighter py-2 px-1 md:px-2 font-fira-code text-lg leading-none text-nowrap whitespace-nowrap"
    >
      <a
        class="no-underline inline-flex items-center gap-1 md:gap-2"
        href={`/uses/${locale}`}
      >
        <Code style={{ fontSize: "1.7rem" }} />
        <div>gildofj<span class="text-purple-500">.dev</span></div>
      </a>
    </h2>
    <div
      class="items-center gap-6 hidden lg:flex absolute left-1/2 translate-x-[-50%]"
    >
      <HeaderLink href={`/uses/${locale}`}>{t("nav.home")}</HeaderLink>
      <HeaderLink href={PORTFOLIO_URL}>{t("nav.about")}</HeaderLink>
      <HeaderLink
        class="inline-flex items-center gap-2"
        href={REPO_URL}
        target="_blank"
      >
        <GithubLogo />
        {t("nav.source")}
      </HeaderLink>
    </div>
    <div class="flex items-center gap-2 md:gap-3 px-2">
      <a
        class="inline-block text-black dark:text-white no-underline"
        href={GITHUB_URL}
        target="_blank"
      >
        <span class="sr-only">Go to my Github</span>
        <GithubLogo style={{ fontSize: "2rem" }} />
      </a>
      <a
        class="inline-block text-black dark:text-white no-underline"
        href={LINKEDIN_URL}
        target="_blank"
      >
        <span class="sr-only">Go to my Linkedin</span>
        <LinkedinLogo style={{ fontSize: "2rem" }} />
      </a>
      <a
        class="hidden md:inline-block text-black dark:text-white no-underline"
        href={INSTAGRAM_URL}
        target="_blank"
      >
        <span class="sr-only">Follow Me on Instagram</span>
        <InstagramLogo style={{ fontSize: "2rem" }} />
      </a>
      <a
        class="hidden md:inline-block text-black dark:text-white no-underline"
        href={X_URL}
        target="_blank"
      >
        <span class="sr-only">Follow Me on X</span>
        <XLogo style={{ fontSize: "2rem" }} />
      </a>
      <ThemeToggleButton client:load />
      <div class="hidden lg:block">
        <DropdownMenuLocale client:load client:only />
      </div>
      <DropdownMenuNav client:load client:only />
    </div>
  </nav>
</header>
