---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Content from "../components/Content.astro";
import Body from "../components/Body.astro";
import { getUrlLocale, useTranslate } from "../i18n/utils";

type Props = CollectionEntry<"posts">["data"];

const {
  title,
  description,
  heroImage = "/uses/masthead-poster.png",
  videos,
} = Astro.props;

const locale = getUrlLocale(Astro.url);
const t = useTranslate(locale);
---

<html lang={locale}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <main class="pt-[76px]">
      <Content className="pt-6">
        <div class="mb-8">
          {
            heroImage && (
              <Image
                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                width={1020}
                height={510}
                src={heroImage}
                alt="thumbnail image"
              />
            )
          }
        </div>
        <h1 class="text-3xl font-fira-code my-1">{title}</h1>
        <div>{description}</div>
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
        {
          videos && videos.length > 0 && (
            <video
              class="border border-slate-300 dark:border-zinc-700 rounded-xl"
              controls
            >
              {videos.map(video => (
                <source src={video} type="video/mp4" />
              ))}
              {t("post.videoTagError")}
            </video>
          )
        }
        <span
          class="underline underline-offset-2 hover:text-purple-500 decoration-purple-500 text-2xl"
        ></span>
      </Content>
      <Footer />
    </main>
  </Body>
</html>
